@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

:root {
  --bgColor: #020218;
  --fontColor: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Syne Mono', monospace;
  font-size: 15px;
  display: block;
  height: 100vh;
  background-image: url('../images/bg.jpg');
  background-size: cover;
}

header {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 150px;
  justify-content: flex-end;
  align-items: center;
}

.title {
}

.h1-title {
  font-family: 'Kanit', sans-serif;
  color: var(--fontColor);
  font-size: 3.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 500px;
}

.subtitle-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.subtitle {
}

p {
  color: var(--fontColor);
  font-size: 1.5rem;
}

.faded-chars {
  color: #0e4f50;
  opacity: 0;
  transition: opacity 0.6s, color 0.9s 0.4s;
}

.fade {
  opacity: 1;
  color: #ce0000;
}
